/* static/css/style.css */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #1c1e21;
}

.main-content {
    margin-bottom: 60px; /* Space for the fixed navbar */
}

/* Base styles for the pages */
h1 {
    color: #1c1e21;
}

/* Other general styles for your app can go here */
