<!-- templates/friends.html -->
{% extends "base.html" %}
{% block content %}
<input type="text" id="friends-search" placeholder="Search users">
<div class="friends-nav">
    <button data-section="followers">Followers</button>
    <button data-section="following">Following</button>
    <button data-section="friends">Friends</button>
    <button data-section="requests">Friend Requests</button>
    <button data-section="suggested">Suggested</button>
</div>
<div id="friends-list"></div>
{% endblock %}
