<!-- templates/profile_other_modal.html -->
<div class="profile-photo">
    <img src="{{ url_for('uploaded_file', filename=user.profile_pic) }}">
</div>
<span>{{ user.real_name }}</span>
<div>
    <span>Friends: {{ friends }}</span>
    <span>Followers: {{ followers }}</span>
    <span>Following: {{ following }}</span>
</div>
<button data-action="follow" data-user-id="{{ user.id }}">Follow</button>
<button data-modal-url="/api/chat/{{ user.id }}">Message</button>
<p>{{ user.bio }}</p>
<p>Mutual friends: {% for mf in mutual_friends %}{{ mf.username }}, {% endfor %}</p>
<div class="profile-nav">
    <button><i class="fas fa-images"></i> Posts</button>
    <button><i class="fas fa-video"></i> Reels</button>
</div>
<div class="gallery">
    <!-- posts and reels -->
</div>
