<!-- templates/reels.html -->
{% extends "base.html" %}
{% block content %}
{% for reel in reels %}
<div class="reel">
    <video class="reel-video" src="{{ url_for('uploaded_file', filename=reel.video_url) }}" autoplay loop></video>
    <div class="reel-actions">
        <button data-action="like" data-type="reel" data-id="{{ reel.id }}"><i class="fas fa-heart"></i></button>
        <button data-action="comment" data-id="{{ reel.id }}"><i class="fas fa-comment"></i></button>
        <button data-action="share"><i class="fas fa-share"></i></button>
        <button data-action="save" data-type="reel" data-id="{{ reel.id }}"><i class="fas fa-bookmark"></i></button>
        <button data-action="repost" data-type="reel" data-id="{{ reel.id }}"><i class="fas fa-retweet"></i></button>
        <a href="{{ url_for('uploaded_file', filename=reel.video_url) }}" download><i class="fas fa-download"></i></a>
    </div>
    <p>{{ reel.user.real_name or reel.user.username }}</p>
    <p>{{ reel.description }}</p>
</div>
{% endfor %}
{% endblock %}
